<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Apartment number</th>
      <th>Rent</th>
      <th>Electricity bill</th>
      <th>Water bill</th>
      <th>Due date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.apartment_number %></td>
        <td><%= bill.rent %></td>
        <td><%= bill.electricity_bill %></td>
        <td><%= bill.water_bill %></td>
        <td><%= bill.due_date %></td>
        <td><%= bill.status %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><% if current_user.username == "admin" %><%= link_to 'Edit', edit_bill_path(bill) %><% end %></td>
        <td><% if current_user.username == "admin" %><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.username == "admin" %><%= link_to 'New Bill', new_bill_path %><%end%>
