<p id="notice"><%= notice %></p>

<p>
  <strong>Apartment number:</strong>
  <%= @bill.apartment_number %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @bill.rent %>
</p>

<p>
  <strong>Electricity bill:</strong>
  <%= @bill.electricity_bill %>
</p>

<p>
  <strong>Water bill:</strong>
  <%= @bill.water_bill %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @bill.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>

<% if current_user.username == "admin" %><%= link_to 'Edit', edit_bill_path(@bill) %> |<% end %>
<%= link_to 'Back', bills_path %>
