<p id="notice"><%= notice %></p>

<p>
  <strong>Unit type:</strong>
  <%= @unit.unit_type %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @unit.unit_cost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @unit.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
